<div class="hero-section">
  <div class="container">
    <h1 class="hero-text">Election Management System</h1>
    <p class="hero-description mt-3">
      A comprehensive platform that enables efficient data collection and
      real-time monitoring of election processes.
    </p>
    <div class="agentLog">
      <div class="card">
        <h3>Agent Dashboard</h3>
        <p>
          Access the Agent Dashboard to efficiently manage your polling
          activities.
        </p>
        <button type="button" class="btn-primary">
          <a href="/pollingAgent/login">Go to Agent Dashboard</a>
        </button>
      </div>

      <div class="card">
        <h3>Public Results</h3>
        <p>
          Discover and explore polling unit results with ease using the Public
          Results feature.
        </p>
        <button type="button" class="btn-primary">
          <a href="/pollingUnit/option">Search Results</a>
        </button>
      </div>
    </div>
  </div>
</div>
