<p class="text">Login as</p>
<div class="agentLog">
  <button type="button" class="btn">
    <a href="/pollingAgent/login">Polling Agent Login</a>
  </button>

  <button type="button" class="btn">
    <a href="/pollingUnit/login">Search Polling Unit</a>
  </button>
</div>
