@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Poppins:wght@400;600&display=swap");

body {
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  background: #000;
  color: #818486;
  line-height: 1.5;
}

a {
  color: inherit;
}

.hero-text {
  font-size: calc(3vw + 12px);
  background: linear-gradient(45deg, #f35e84, #503efe, #9af9cf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.hero-description {
  font-size: 1.2rem;
  max-width: 80%;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card {
  padding: 1rem 2rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid #503efe;
  background-color: #ffffff20;
  margin: 0rem 1rem;
}

.card h3 {
  color: #fff;
}
.card p {
  font-size: 0.9rem;
}

.btn-primary {
  background-color: #1449ff;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  padding: 0.8rem 1.5rem;
}

.btn-info {
  background-color: #1449ff;
  border: none;
}

.navbar {
  margin-left: -10px;
}
.navbar-brand {
  color: black;
  font-weight: bold;
  margin-left: 40%;
}
.text {
  margin-left: 47%;
  margin-top: 60px;
  font-weight: bold;
  margin-bottom: -10px;
}
.btn {
  margin-right: 30px;
  font-weight: bold;
}
.optionDiv {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.optionDiv button {
  margin: 0px 100px;
}

.title {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.agentLog {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.agentForm {
  padding: 60px 40px;
  border-radius: 10px;
  border: 1px solid #503efe;
  border-radius: 1rem;
  margin-top: 2rem;
}
.agentForm input {
  width: 300px;
  border: none;
  border-bottom: 1px solid #fff;
  background: #000 !important;
  color: #fff !important;
  border-radius: none;
}

.agentForm label {
  color: #fff;
}

.tableDiv {
  margin: 10px 200px;
  padding: 60px 40px;
  border-radius: 10px;
}
.table {
  text-align: center;
}
.addPU {
  border-width: 2px;
  padding: 60px 40px;
  border-radius: 10px;
  margin: 0 300px;
}
.PUTable {
  border-width: 2px;
  padding: 60px 40px;
  border-radius: 10px;
  margin: 0px 200px;
  margin-bottom: 50px;
}
h4 {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: -40px;
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: underline;
}
h3 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}
.not-found-content {
  font-size: 20px;
  color: red;
  margin-top: 20px;
  margin-left: 10px;
}

.action {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
