@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Poppins:wght@400;600&display=swap");

body {
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  background: #060616;
  color: #818486;
  line-height: 1.5;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.hero-text {
  font-size: calc(3vw + 12px);
  background: linear-gradient(45deg, #f35e84, #503efe, #9af9cf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.hero-description {
  font-size: 1.2rem;
  max-width: 80%;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card {
  padding: 1rem 2rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid #503efe;
  background-color: #ffffff20;
  margin: 0rem 1rem;
}

.card h3 {
  color: #fff;
}
.card p {
  font-size: 0.9rem;
}

.btn-primary {
  background-color: #1449ff;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  padding: 0.8rem 1.5rem;
}

.btn-info {
  background-color: #1449ff;
  border: none;
}

.navbar {
  margin-left: -10px;
}
.navbar-brand {
  color: black;
  font-weight: bold;
  margin-left: 40%;
}
.text {
  margin-left: 47%;
  margin-top: 60px;
  font-weight: bold;
  margin-bottom: -10px;
}
.btn {
  margin-right: 30px;
  font-weight: bold;
}
.optionDiv {
  width: 85%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3rem auto;
  margin-top: 8%;
}

.optionDiv button {
  width: 100%;
  margin: 1rem 0;
}
/* .optionDiv button {
  margin: 0px 100
} */

.title {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.agentLog {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.agentForm {
  padding: 60px 40px;
  border-radius: 10px;
  border: 1px solid #503efe;
  border-radius: 1rem;
  margin-top: 2rem;
  min-width: 600px;
  background: #ffffff20;
}
.agentForm input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff !important;
  border-radius: none;
}

.agentForm label {
  color: #fff;
}

.tableDiv {
  margin: 10px 200px;
  padding: 60px 40px;
  border-radius: 10px;
}
.table {
  text-align: center;
  border: 1px solid #1449ff;
  background-color: #ffffff20;
  border-radius: 0.5rem;
  padding: 2rem;
}

.table thead th {
  border-bottom: 1px solid #ffffff50;
  text-transform: uppercase;
  color: #fff;
  border-top: 1px solid #1449ff;
}

.table td {
  border-top: 1px solid #ffffff50;
}

.table td {
  color: #fff;
}
.addPU {
  border-width: 2px;
  padding: 60px 40px;
  border-radius: 10px;
  margin: 0 300px;
}
.PUTable {
  border-width: 2px;
  padding: 60px 40px;
  border-radius: 10px;
  margin: 0px 200px;
  margin-bottom: 50px;
}
h4 {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: -40px;
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: underline;
}
h3 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}
.not-found-content {
  font-size: 20px;
  color: red;
  margin-top: 20px;
  margin-left: 10px;
}

.action {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.form-control {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  border-radius: 0;
  padding-left: 0;
  padding-bottom: 10px;
}

.form-control:focus {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #1449ff;
  box-shadow: none;
  color: #fff;
}

label {
  color: #fff;
}

h4.hero-text {
  font-size: 3rem;
}

input:read-only {
  background-color: #000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #252533 inset !important;
  -webkit-text-fill-color: white !important;
}

form-control:disabled,
.form-control[readonly] {
  background-color: #060616;
  opacity: 1;
}
