<a href="/pollingAgent/viewall" class="btn ml-4" style="margin-top: 5px; color: #503efe"
  >Back</a
>
<h4 class="hero-text mb-5">Editing Form for Polling Unit :<%= pollingUnit.name %></h4>
<form method="POST" class="addStu addPU card" autocomplete="off">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name : </label>
    <input
      type="text"
      name="name"
      required
      class="form-control"
      value="<%= pollingUnit.name  %> "
      id="exampleInputEmail1"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Id No. : </label>
    <input
      type="number"
      name="id"
      value="<%= pollingUnit.id  %> "
      required
      class="form-control"
      id="exampleInputEmail1"
    />
  </div>

 
  </div>
 
  <button type="submit" class="btn mt-4 ">Update</button>
</form>
