<a href="/" class="btn btn-info" style="margin-top: 5px">Logout</a>
<div class="optionDiv">
  <button class="btn">
    <a href="/pollingAgent/viewall">View All Polling Units</a>
  </button>
  <button class="btn">
    <a href="/pollingAgent/add">Add Result</a>
  </button>
</div>
