<a href="/" class="btn ml-4" style="margin-top: 5px; color: #503efe">Logout</a>
<section>
  <h1 class="hero-text text-center">Agent Dashboard</h1>
  <div class="optionDiv">
    <div class="card text-center">
      <h3>Manage Polling Units</h3>
      <p>View and Manage All Polling Units in the Election as a Polling Agent</p>
      <button class="btn btn-primary">
        <a href="/pollingAgent/viewall">View All Polling Units</a>
      </button>
    </div>

    <div class="card text-center">
      <h3>Report Electoral Malpractice</h3>
      <p>Report Any Type of Electoral Misconduct or Irregularities</p>
      <button class="btn btn-primary">
        <a href="/pollingAgent/reportmalpractice">Report Malpractice</a>
      </button>
    </div>

    <div class="card text-center">
      <h3>Add Election Results</h3>
      <p>Submit and Record Election Results for a Polling Unit</p>
      <button class="btn btn-primary">
        <a href="/pollingAgent/add">Add Result</a>
      </button>
    </div>
    <div class="card text-center mt-5">
      <h3>Live Results</h3>
      <p>View real-time Updates on Total Results of the ongoing elections</p>
      <button class="btn btn-primary">
        <a href="/pollingUnit/results">View Live Result</a>
      </button>
    </div>

    <div class="card text-center mt-5">
      <h3>Flagged Polling Units</h3>
      <p>View a list of polling units with flagged incidents</p>
      <button class="btn btn-primary">
        <a href="/pollingAgent/malpractices">View</a>
      </button>
    </div>
  </div>
 
</section>
