<a href="/" class="btn ml-4" style="margin-top: 5px; color: #503efe">Logout</a>
<section>
  <h1 class="hero-text text-center">Agent Dashboard</h1>
  <div class="optionDiv">
    <div class="card">
      <h3>All Polling Unit</h3>
      <button class="btn">
        <a href="/pollingAgent/viewall">View All Polling Units</a>
      </button>
    </div>

    <div class="card">
      <h3>Report Electoral Malpractice</h3>
      <button class="btn">
        <a href="/pollingAgent/reportmalpractice">Report Malpractice</a>
      </button>
    </div>

    <div class="card">
      <h3>Add Results</h3>
      <button class="btn">
        <a href="/pollingAgent/add">Add Result</a>
      </button>
    </div>
  </div>
</section>
