<style>
  .report {
    padding: 1rem 2rem 2rem;
    border-radius: 0.5rem;
    border: 1px solid #503efe;
    background-color: #ffffff20;
    margin: 0rem auto;
    margin-top: 5rem;
    width: 80%;
    padding-top: 3rem;
  }
  .mb-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .check {
    cursor: pointer;
  }

  .input {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .title {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
    text-decoration: underline;
    margin-bottom: 1rem;
    color: #818486;
  }

  .report .btn {
    background: #503efe;
    color: #fff;
    margin: 1rem auto;
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: 200px;
    font-size: 1.1rem;
  }
</style>

<section class="mb-5">
  <a href="/pollingAgent/option" class="btn" style="margin-top: 5px">Back</a>

  <h4 class="hero-text">Report Election Malpractice</h4>

  <form method="POST" class="addPU report" autocomplete="off">
    <div class="input">
      <label for="exampleInputEmail1" class="text-bold text-uppercase"
        >Polling Unit ID :
      </label>
      <input
        type="string"
        name="id"
        required
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Enter Polling Unit Id"
      />
    </div>

    <h3 class="text-uppercase text-white mb-4">
      Type of Electoral Malpractice
    </h3>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"
        >Delayed Voting (INEC late arrival)</label
      >
      <input type="checkbox" name="id" class="check" id="exampleInputEmail1" />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"
        >Underage Voting
      </label>
      <input
        type="checkbox"
        name="name"
        class="check"
        id="exampleInputEmail1"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Over Voting</label>
      <input
        type="checkbox"
        name="state"
        class="check"
        id="exampleInputEmail1"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"
        >Destruction of election materials</label
      >
      <input
        type="checkbox"
        name="state"
        class="check"
        id="exampleInputEmail1"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"
        >Voter intimidation</label
      >
      <input
        type="checkbox"
        name="state"
        class="check"
        id="exampleInputEmail1"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"
        >Voter disenfranchisement</label
      >
      <input
        type="checkbox"
        name="state"
        class="check"
        id="exampleInputEmail1"
      />
    </div>

    <button type="submit" class="btn">Report</button>
  </form>
</section>
