<a href="/" class="btn btn-info" style="margin-top: 5px">Back</a>
<h3>Polling Units</h3>
<div class="agentLog">
  <form method="POST" class="agentForm">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Id: </label>
      <input
        type="number"
        name="id"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">State: </label>
      <input
        type="text"
        name="state"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <a><button type="submit" class="btn btn-primary">Submit</button></a>
  </form>
</div>
