<a href="/" class="btn ml-4" style="margin-top: 5px; color: #503efe">back</a>
<section>
  <h1 class="hero-text text-center">Election Results</h1>
  <div class="optionDiv">
    <div class="card">
      <h3>All Polling Unit</h3>
      <button class="btn">
        <a href="/pollingUnit/viewall">View All Polling Units</a>
      </button>
    </div>

    <div class="card">
      <h3>Search Polling Unit</h3>
      <button class="btn">
        <a href="/pollingUnit/login">Search Results</a>
      </button>
    </div>

    <div class="card">
      <h3>Standings</h3>
      <button class="btn">
        <a href="/pollingUnit/results">View Standings</a>
      </button>
    </div>
  </div>
</section>
