<a
  href="/pollingUnit/option"
  class="btn ml-4"
  style="margin-top: 5px; color: #503efe"
  >back</a
>

<h2>Party Votes</h2>
<ul>
  <% for (const party in partyVotes) { %>
  <li><%= party %>: <%= partyVotes[party] %></li>
  <% } %>
</ul>

<h2>Winners</h2>
<ul>
  <% for (const party in winners) { %>
  <li><%= party %>: <%= winners[party] %></li>
  <% } %>
</ul>
