<a href="/" class="btn btn-info" style="margin-top: 5px">Logout</a>
<h4>Result of Polling Unit</h4>
<div class="PUTable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">State</th>
        <th scope="col">Total Votes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= unit.id %></td>
        <td><%= unit.name %></td>
        <td><%= unit.state %></td>
        <td><%= unit.totalVotes %></td>
      </tr>
    </tbody>
  </table>
</div>
